<%- include("partials/header.ejs") %>


    
         <ul class="inside square">
          <li>Este texto destina-se a demonstrar o valor: "inside" dos marcadores de listas.</li>
          <li>E aqui continuamos com mais texto para  demonstrar o valor:"inside" dosmarcadores de listas.</li>
        </ul>
  


 
<%- include("partials/footer.ejs") %>


