<%- include("partials/header.ejs") %>


<li classe=""">
    <div class="card-primary">
        <% if (locals.data && data.length > 0) { %>
            <% data.forEach(element => { %>
  <div class="">
    <img class="img-hover" src="<%= element.img_src %>"/>
  </div>
  <div class=>
    <h5 class=>
    </h5>
    <p class="">
    </p>
    <% }); %>
    </div>
  <% } else { %>
    <%}%>
    </div>

</li>

 
<%- include("partials/footer.ejs") %>


